.font{
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
}
.bg-body{
  height: 100vh;
  background-color: red;
}

.btn-style{
  width: 200px;
  border-radius: 8px;
  color: white;
}
.box{
  height: 600px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px 1px;
}


.avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}